* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: radial-gradient(circle, #EDAFFC, #7454F6, #261AF3);
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holder {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-w3w {
  width: 111px;
  height: 78px;
  object-fit: cover;

}
.btn-book-call {
  border: 1.5px solid yellow;
  background-color: #170DF2;
  color: white;
  letter-spacing: 0.1em;
  padding: 7px 12px;
  font-size: large;
}

.web3-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  padding: 55px;
  background: transparent;
  border: 3px solid #4CB3EE;
  text-align: center;
  font: Arial, sans-serif;
}

.circle2 {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  padding: 45px;
  background: transparent;
  border: 3px solid rgb(77,163,246, 0.6)
}

.circle3 {
  border-radius: 50%;
  width: 530px;
  height: 530px;
  padding: 45px;
  background: transparent;
  border: 3px solid rgb(77,163,246, 0.2)
}


.btn-container {
  padding: 15px;
}

.btn-join-us {
  background-color: white;
  color: #170DF2;
  border: 1px solid #C0FF00;
  font-weight: 100;
  padding: 1px 6px;
  letter-spacing: 0.1em;
  padding: 5px 20px;
  font-size: medium;
}

.web3 {
  color: #0C1C94;
  font-size: 60px;
  font-weight: 649;
}

.space {
  color: yellow;
  font-size: 15px;
  font-weight: 100;
}

.ge {
  color: #0C1C94;
}

.women {
  background-color: #FF00FF;
  color: white;
  font-size: 60px;
  font-weight: 649;
}

.social-media-holder{
  left: 100;
  position: fixed;
  right: 3%;
  top: 50;
}
.social-media-container {
  color: white;
  display: flex;
  flex-direction: column;

}

.stats-container {
  background-color: #0D1C9A;
  color: white;
  width: 100vw;
  height: 100vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
